<a href="https://colab.research.google.com/github/Hakuma15/OOP-1-2/blob/main/OOP_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Python Classes and Objects

#Create Class

In [1]:
class MyClass:
  pass

In [2]:
class OOP1_2:
  X=5
  print(X)

5

In [5]:
class OOP1_2:
  def __init__(self,name,age):  #__init__ (parameter)
    self.name = name  #attributes
    self.age = age

  def identity(self):
    print(self.name, self.age)

person=OOP1_2("Maria", "39")

print(person.name)
print(person.age)
print(person.identity)

Maria
39
<bound method OOP1_2.identity of <__main__.OOP1_2 object at 0x7f75b70b3c10>>

In [7]:
#Modify the Object Name

person.name="Rizette"
print(person.name)
print(person.age)

Rizette
39

In [8]:
person.age = 40

print(person.name)
print(person.age)

Rizette
40

In [10]:
#Delete the Object

del person.name

AttributeError: ignored

In [13]:
print(person.name)

AttributeError: ignored

In [15]:
print(person.age)

40

Application 1 - Write a phyton program that computes the area of a square, and name its class as Square, side as attributes

In [19]:
class Square:
  def __init__(self, sides):
    self.sides = sides


  def area(self):
    return self.sides*self.sides

  def display(self):
    print("the area of a square is:", self.area())

  
square= Square(4)

print(square.sides)

square.display()

4
the area of a square is: 16

Application 2 - Write a phyton program that displays your full name, age, course, school.
Createa class named MyClass, and name, age, school, course as attributes

In [21]:
class MyClass:
  def __init__(self,name,age, course, school):  
    self.name = name  
    self.age = age
    self.course = course
    self.school =  school

  def identity(self):
    print(self.name, self.age)

person=MyClass("Ian Rafael Umipig","19","BS Computer Engineering","CVSU - Main")

print(person.name)
print(person.age)
print(person.course)
print(person.school)

Ian Rafael Umipig
19
BS Computer Engineering
CVSU - Main